.navbar {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.navbar li {
    background-color: var(--primary-background);
    color: var(--light-text);
    padding: 5px 10px;
    border: 4px solid var(--primary-background);
}

.navbar li:hover {
    background-color: var(--light-text);
    color: var(--primary-background);
}