.navbar {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.navbar a {
    background-color: var(--primary-backgrond);
    color: var(--light-text);
    padding: 5px 10px;
    border: 4px solid var(--primary-backgrond);
}

.navbar a:hover {
    background-color: var(--light-text);
    color: var(--primary-backgrond);
}