.item {
    display: flex;
    justify-content: space-between;
    background-color:  var(--light-text);
}

.details {
    flex: 3;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
}

.revenue {
    flex: 2 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-50);
}