.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding {
    padding-inline: 1em;
}

.danger {
    background-color: var(--danger);
    color: var(--light-text);
}